--- SEGURIDAD ---

SECRET_KEY=pon_tu_secret_key_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

--- BASE DE DATOS ---

DB_NAME=nombre_db
DB_USER=usuario_db
DB_PASSWORD=password_db
DB_HOST=localhost
DB_PORT=5432

--- CORREO ---

EMAIL_USER=correo@ejemplo.com
EMAIL_PASS=password_correo

--- FRONTEND ---

FRONTEND_URL=http://localhost:5173