# GENERAL
SECRET_KEY=clave_super_secreta_aqui
DEBUG=False
ALLOWED_HOSTS=10.0.8.35,127.0.0.1,localhost,TU_IP_PUBLICA_EC2
FIELD_ENCRYPTION_KEY=tu_llave_de_cifrado

# BASE DE DATOS (Amazon RDS PostgreSQL)
DB_NAME=gstoragedb
DB_USER=MedallaBD
DB_PASSWORD=tu_contraseña_rds
DB_HOST=gstorage
DB_PORT=5432

# ALMACENAMIENTO (Amazon S3)
USE_S3=True
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_IAM
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_IAM
AWS_STORAGE_BUCKET_NAME=gstorage-media-medalla
AWS_S3_REGION_NAME=us-east-1

# CORREO
EMAIL_USER=tu_correo@dominio.com
EMAIL_PASS=tu_password_de_aplicacion

# FRONTEND / CORS
FRONTEND_URL=http://localhost:5173,http://